<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-divice-width, initial-scale-1.0">
    <link rel="stylesheet" href="{% static 'show.css'%}">
    <title> SHOW DATA </title>
</head>

<body>

    {{msg}}
    <h2 id="head"> Show All Data</h2>
    <div id="secdiv">
        <form action="/">
            <input type="Submit" value="<< Back">
        </form>
    </div>
    <div id="onediv">
        <table>
            <thead>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Button</th>   
            </thead>
            {% for d in data %}
            <tr>
                <td>{{d.Id}}</td>
                <td>{{d.Name}}</td>
                <td>{{d.Surname}}</td>
                <td>{{d.Age}}</td>
                <td>
                    <a href="/edit?Id={{d.Id}}">Edit</a>
                    <a href="/delete?Id={{d.Id}}">Delete</a>
                    
                </td>

            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>
